.App {
  text-align: center;
  background-color: rgb(26, 26, 32);
}

.sidebar {
  background-color: rgb(26, 26, 32);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  border-right: 5px solid white ;
}

.sidebar h2 {
  padding: 10px;
  margin-bottom: 10px;
}

.sidebar .link {
  cursor: pointer;
  transition: 0.3;
  color: #ffffff;
  text-decoration: none;
  padding: 30px;
 
}

.sidebar nav{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.home {
  display: grid;
  grid-template-columns: .6fr 3.4fr;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* login in style */
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  background-color: var(--black);
  height: 100vh;
}
.login form{
  display: inline-block;
  text-Align: left;
  text-align: center;
}
.login input{
  display: block;
  margin-bottom: 15px; 
  padding: 8px;
  width: 200px;
  border-radius: 25px;
  outline: none;
  border: none;
}
.login button{
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.login button:hover {
  background-color: grey;
}
.login h2{
  color: white;
}

.changeLogin{
  cursor: pointer; 
  margin-Top: 10px;
  color: white; 
}
.changeLogin:hover{
  color: var(--mainBlue);
}

.layout{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding:100px;
  gap:30px
}
.profile{
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  border-radius: 10px;
}
.profile button{
  background-color:#0096FF;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-start;
  margin-block-start: 0.5em;
}
.profile img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.profile h1{
  color:white;
  text-align: left;
}
.profile h2{
  color:rgb(127, 129, 136);
  text-align: left;
}
.postsTopArea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.postsTopArea button{
  border-radius: 30px;
  width: 35px;
  height: 35px;
  font-size: large;
}