.App {
  text-align: center;
  background-color: rgb(26, 26, 32);
}

.sidebar {
  background-color: rgb(26, 26, 32);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  border-right: 5px solid white ;
}

.sidebar h2 {
  padding: 10px;
  margin-bottom: 10px;
}

.sidebar .link {
  cursor: pointer;
  transition: 0.3;
  color: #ffffff;
  text-decoration: none;
  padding: 30px;
 
}

.sidebar nav{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.home {
  display: grid;
  grid-template-columns: .6fr 3.4fr;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* login in style */
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  background-color: var(--black);
  height: 100vh;
}
.login form{
  display: inline-block;
  text-Align: left;
  text-align: center;
}
.login input{
  display: block;
  margin-bottom: 15px; 
  padding: 8px;
  width: 200px;
  border-radius: 25px;
  outline: none;
  border: none;
}
.login button{
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.login button:hover {
  background-color: grey;
}
.login h2{
  color: white;
}

.changeLogin{
  cursor: pointer; 
  margin-Top: 10px;
  color: white; 
}
.changeLogin:hover{
  color: var(--mainBlue);
}

.layout{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding:100px;
  gap:30px;
}
.profile{
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  border-radius: 10px;
  height: 100%;
}
.profile button{
  background-color:#0096FF;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  /* align-self: flex-start; */
  margin-block-start: 0.5em;
}
.profile img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.profile h1{
  color:white;
  text-align: left;
}
.profile h2{
  color:rgb(127, 129, 136);
  text-align: left;
}

.postsTopArea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.postsTopArea button{
  border-radius: 30px;
  width: 35px;
  height: 35px;
  font-size: large;
}
.postsConatiner{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}
.postsCard{
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  width: 250px;
  height: max-content;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.postsCard img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.postsCard p{
  margin-top: 0.5rem;
  font-size: 1rem;
  color: white;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal h2{
  text-align: center;
}

.content{
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}


